Flask==1.0.2
Flask-Bootstrap==3.3.7.1
Flask-Compress==1.4.0
Flask-Cors==3.0.7
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-MySQL==1.4.0
Flask-MySQLdb==0.2.0
Flask-SQLAlchemy==2.3.2
Flask-User==1.0.1.5
itsdangerous==0.24
jedi==0.13.1
Jinja2==2.10
jsonpickle==1.1
jsonschema==2.6.0
jupyter-core==4.4.0
Markdown==3.0.1
MarkupSafe==1.0
matplotlib==2.2.3
mysql==0.0.2
mysql-connector==2.1.6
mysql-connector-python==8.0.12
mysqlclient==1.4.2.post1
numpy==1.16.1
pandas==0.22.0
pandas-datareader==0.6.0
PyMySQL==0.9.2
requests==2.21.0
requests-file==1.4.3
requests-ftp==0.3.1
requests-toolbelt==0.9.1
ruamel.yaml==0.15.88
scikit-learn==0.19.2
scipy==1.2.1
selenium==3.141.0
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
SQLAlchemy==1.2.18
virtualenv==16.0.0
virtualenv-clone==0.4.0
virtualenvwrapper==4.8.2
virtualenvwrapper-win==1.2.5